* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html.predios{
    --bg-color: white;
    --font-color: black;
    --color-btn-primary: #498AB4;
    --color-btn-secundary: black;
    --color-btn-temas: #204A7D;
    --color-hours:#255788;
    --color-minutes:#61B2DE;
}

html.mario{
    --bg-color: white;
    --font-color: white;
    --color-btn-primary: #A84465;
    --color-btn-secundary: #541141;
    --color-btn-temas: rgb(223, 221, 221);
    --color-hours:#A84465;
    --color-minutes:#541141;
}

html.chuva{
    --bg-color: white;
    --font-color: white;
    --color-btn-primary: #25323A;
    --color-btn-secundary: #111A22;
    --color-btn-temas: rgb(223, 221, 221);
    --color-hours:#111A22;
    --color-minutes:#25323A;
}


html.peixes{
    --bg-color: white;
    --font-color: white;
    --color-btn-primary: #EB4455;
    --color-btn-secundary: #b62e39;
    --color-btn-temas: #b30210;
    --color-hours:#b62e39;
    --color-minutes:#EB4455;
}

body {
  font-size: 1.6rem;
  display: grid;
  place-content: center;

  height: 100vh;
  font-family: "Cute Font", sans-serif;
  background: var(--bg-color);
}

body video {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 15/9;
  object-fit: cover;

}

#temas {
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: max-content;
  overflow: hidden;
}
#temas h1 {
  font-size: 5rem;
  padding: 0;
  line-height: 2.5rem;
  color: var(--color-btn-temas);
  transition: 0.3s;
}

#temas button {
  border: none;
  background: none;
  font-size: 3.2rem;
  color: var(--color-btn-temas);
  transition: 0.3s;

  line-height: -1rem;
}

#btnTemas {
  display: grid;
  flex-direction: column;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

#btnTemas button {
  --delay: 0.4s;
  animation: aparecer 0.4s var(--delay) backwards;
}

.hide {
  display: none;
}

#app {
  padding: 3rem;
  height: max-content;
  width: max-content;


  background: rgba(206, 202, 202, 0.25);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.315);
}

#timer {
  line-height: 9rem;
  text-align: center;
  display: grid;
justify-content: center;
}


#timer #minutes{
  font-size: 18rem;

color: var(--color-hours);
transition: 0.3s;
}
#timer #seconds{
  font-size: 18rem;
  
    color: var(--color-minutes);
  transition: 0.3s;
}
.hide {
  display: none;
}
#controls {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#controls button {
  border: none;
  background: none;
  font-size: 4rem;
  color: var(--color-btn-secundary);
  transition: 0.3s;

}

button {
  transition: 0.2s;
  cursor: pointer;
}
button:hover {
  transform: scale(1.08);
}

.ph-pause-circle,
.ph-play-circle, .ph-speaker-high {
  
  color: var(--color-btn-primary);
  transition: 0.3s;

}

/*ANIMAÇÕES*/
@keyframes aparecer {
  0% {
    opacity: 0;
    transform: 0.7;
  }
  50% {
    transform: scale(1.2);
  }
}


html.running .play, html:not(.running) .pause,
html.musicOn .speaker-none, html:not(.musicOn) .speaker-high,
html.running .timer, html:not(.running) .reset{
  display: none;
}